# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Binaries & Compiled Objects
*.o
*.out
*.dylib.bak
*.bak
chrome_launcher
Google Chrome

# Temporary files
/tmp/
*.key
*.crt
*.p12
docs/images/test_capture.png

# Python
__pycache__/
*.pyc
